article {
  display: flex;
  flex-direction: column;
}

.save-cat-button {
  width: 50%;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#error {
  color: red;
}
.delete-cat-button {
  width: 50%;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
